<nav class="navBar">
    <div class="navBar__container-icon">
        <img class="navBar__img-logo" src="{{header.icon.img}}" alt="{{header.icon.name}}">
    </div>
    <div class="navBar__container-menu">
        <span class="navBar__bg-icon material-icons">menu</span>
        <ul class="navBar__list">
            <li class="navBar__list-iten" *ngFor="let link of header.links"><a href="">{{link}}</a> </li>
        </ul>
    </div>
</nav>