<button class="middle-section" (click)="onButtonClick()" [ngClass]="dsp ? 'middle-section' : 'middle-section middle-section__open-view ' ">
    <h3>Comprar Musica</h3>
    <div class="middle-section__container">
    <div class="middle-section__cover">
    </div>
    <img class="middle-section__img" src="{{middle.img.img}}" alt="{{middle.img.name}}" [ngClass] = "dsp ? 'middle-section__img' : 'middle-section__img-dsp'">
    <div class="middle-section__link-container" [ngClass] = "dsp ? 'middle-section__link-container' : 'middle-section__link-container-dsp' ">
        <span class="middle-section__link-iten" *ngFor="let content of middle.content">
          <a href="{{content.link}}" target="_blank"  class="middle-section__text-link">
            <img src="{{content.img.img}}" class="middle-section__img-link img-{{content.img.name}}" alt="{{content.img.name}}">
            <p>{{content.img.name}}</p>
          </a>
        </span>
      </div>
    </div>
</button>