        @import "../../../../styles/colors.scss";
        @import "../../../../styles//fonts.scss";
        @import "../../../../styles/responsive.scss";
        @import "../../../../styles/sizes.scss";
        .middle-section {
            width: 100%;
            height: 100px;
            background-color: $third-color;
            border: 0;
            outline: none;
            margin-top: 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &__open-view {
                height: 250px;
            }
            @include desktop {
                width: auto;
                height: auto;
                background-color: initial;
                &__open-view {
                    height: 250px;
                    background-color: $third-color;
                }
            }
            &__container {
                display: flex;
                justify-content: space-around;
            }
            &__cover {
                display: none;
                width: 200px;
                height: 200px;
                background-color: whitesmoke;
                background-image: url(https://upload.wikimedia.org/wikipedia/en/9/9c/Daftpunk-homework.jpg);
                background-size: cover;
                filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
                @include desktop {
                    display: flex;
                    z-index: 1;
                }
            }
            &__img {
                width: 220px;
                height: auto;
                display: none;
                @include desktop {
                    display: flex;
                    position: absolute;
                    margin-top: -10px;
                    margin-left: 30px;
                    filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
                }
            }
            &__img:hover {
                animation-name: open;
                animation-duration: 700ms;
                animation-timing-function: linear;
                transform: translateX(30%);
                ;
            }
            @keyframes open {
                from {
                    transform: translateX(0%);
                }
                to {}
            }
            &__img-dsp {
                display: none;
            }
            &__link-container {
                display: none;
            }
            &__link-container-dsp {
                display: flex;
                flex-flow: row;
                margin-top: 50px;
            }
            &__link-iten {
                display: flex;
                margin: 20px;
                a:link,
                a:visited,
                a:active {
                    text-decoration: none;
                    color: $primary-color;
                }
            }
            &__img-link {
                width: 40px;
                height: auto;
                @include tablet {
                    width: 80px;
                }
            }
            .img-Bandcamp {
                height: 40px;
                @include tablet {
                    height: 80px;
                }
            }
        }