$lalyout_bp_tablet: 600px;
$lalyout_bp_desktop: 1280px;
@mixin tablet {
    @media only screen and (min-width: #{$lalyout_bp_tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$lalyout_bp_desktop}) {
        @content;
    }
}