@import "../../../styles/colors.scss";
@import "../../../styles//fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";
.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        justify-content: space-around;
    }
}