<button class="last-section" (click)="onButtonClick()" [ngClass]="dsp ? 'last-section' : 'last-section last-section__open-view ' ">
  <h3>Comprar Equipo</h3>
  <div class="last-section__container">
  <div class="last-section__cover">
  </div>
  <img class="last-section__img" src="{{last.img.img}}" alt="{{last.img.name}}"[ngClass] = "dsp ? 'last-section__img' : 'last-section__img-dsp'">
  <div class="last-section__link-container" [ngClass] = "dsp ? 'last-section__link-container' : 'last-section__link-container-dsp' ">
      <span class="last-section__link-iten" *ngFor="let content of last.content">
        <a href="{{content.link}}" target="_blank"  class="last-section__text-link">
          <img src="{{content.img.img}}" class="last-section__img-link img-{{content.img.name}}" alt="{{content.img.name}}">
          <p>{{content.img.name}}</p>
        </a>
      </span>
    </div>
  </div>
</button>