        @import "../../../../styles/colors.scss";
        @import "../../../../styles//fonts.scss";
        @import "../../../../styles/responsive.scss";
        @import "../../../../styles/sizes.scss";
        .last-section {
            width: 100%;
            height: 100px;
            background-color: $third-color;
            border: 0;
            outline: none;
            margin-top: 20px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &__open-view {
                height: 250px;
            }
            @include desktop {
                width: auto;
                height: auto;
                background-color: initial;
                &__open-view {
                    height: 250px;
                    background-color: $third-color;
                }
            }
            &__container {
                display: flex;
                justify-content: space-around;
            }
            &__cover {
                display: none;
                width: 270px;
                height: 210px;
                background-color: whitesmoke;
                background-image: url(https://www.djkit.com/images/products/large/technics-sl1210mk7-turntable.png);
                background-size: contain;
                background-repeat: no-repeat;
                filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
                @include desktop {
                    display: flex;
                }
            }
            &__img {
                width: 180px;
                height: auto;
                display: none;
                @include desktop {
                    display: flex;
                    position: absolute;
                    margin-top: 12px;
                    margin-left: -27px;
                    z-index: 1;
                }
            }
            &__img:hover {
                animation-name: spin;
                animation-duration: 900ms;
                animation-timing-function: linear;
            }
            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
            &__img-dsp {
                display: none;
            }
            &__link-container {
                display: none;
            }
            &__link-container-dsp {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 50px;
            }
            &__link-iten {
                display: flex;
                margin: 20px;
                a:link,
                a:visited,
                a:active {
                    text-decoration: none;
                    color: $primary-color;
                }
            }
            &__img-link {
                width: 100px;
                @include tablet {
                    width: 120px;
                    height: auto;
                }
            }
        }