/* You can add global styles to this file, and also import other style files */

@import "../../dj-app/src/styles/colors.scss";
@import "../../dj-app/src/styles/fonts.scss";
@import "../../dj-app/src/styles/responsive.scss";
@import "../../dj-app/src/styles/sizes.scss";
* {
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    @include tablet {
        height: 200px;
    }
    @include desktop {
        height: 150px;
    }
    &__container-icon {
        min-width: 80px;
        width: 40%;
        height: auto;
        margin-left: 30px;
    }
    &__img-logo {
        min-width: 80px;
        max-width: 80%;
        height: auto;
        @include tablet {
            width: 70%;
        }
        @include desktop {
            width: 40%;
        }
    }
    &__container-menu {
        width: auto;
        margin-right: 40px;
    }
    &__bg-icon {
        font-size: 50px;
        color: $fourth-color;
        @include tablet {
            display: none;
        }
    }
    &__list {
        list-style: none;
        font-family: $font-museoModern;
        display: none;
        @include tablet {
            display: flex;
            font-size: $header-size;
            margin-right: 40px;
        }
    }
    &__list-iten {
        margin: 0 30px;
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
            color: $fourth-color;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    height: 60px;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: $secondary-color;
    @include desktop {
        position: relative;
        margin-top: 50px;
    }
    &__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    &__link {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
            color: $third-color;
            font-size: $small-size;
            @include tablet {
                font-size: $mainsize;
            }
            @include desktop {
                font-size: $small-size;
                position: initial;
                bottom: initial;
            }
        }
    }
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 20px 60px 0;
    @include desktop {
        margin: 45px 20px 40px 0
    }
    &__text {
        font-family: $font-museoModern;
        @include tablet {
            font-size: $big-headers-size;
        }
    }
    &__img {
        width: 110px;
        height: auto;
        @include tablet {
            width: 150px;
        }
    }
}